@media (max-width: 1024px){
    .wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    .wrapper{
        width: 90%;
    }
    .mobilephone{
        display: none;
    }
    .content-bar{
        width: 100%;
    }
    .sidebox{
        border: solid 1px transparent;
    }
}